/BlazorTodo/bin/
/BlazorTodo/obj/
.vs/BlazorTodo/v17/.suo
BlazorTodo/bin/Debug/net6.0/BlazorTodo.dll
BlazorTodo/bin/Debug/net6.0/BlazorTodo.pdb
BlazorTodo/bin/Debug/net6.0/ref/BlazorTodo.dll
BlazorTodo/obj/Debug/net6.0/BlazorTodo.dll
BlazorTodo/obj/Debug/net6.0/BlazorTodo.pdb
BlazorTodo/obj/Debug/net6.0/project.razor.json
BlazorTodo/obj/Debug/net6.0/ref/BlazorTodo.dll
