@using BlazorTodo.Models

<ui >
@foreach(var todo in Todos) {
	<li class="list-group-item btn text-start" @onclick="@(() => OnClick.InvokeAsync(@todo))">
	 <div>
            @if(!todo.Completed) {<i class="far fa-square" style="color:lightblue;"></i>  }
            @if(todo.Completed) {<i class="fas fa-check" style="color:lightgreen;"></i> }
        &nbsp;
        <span className="label label-success">
             @if(!todo.Completed) { <span>@todo.Name</span> }
             @if(todo.Completed) { <s>@todo.Name</s> }
        </span>
        </div>	
	
	</li>
}
</ui>
@code {
    [Parameter]
    public List<TodoModel> Todos { get; set; }

    public TodoList()
    {
        Todos = new List<TodoModel>();

    }

    public TodoList(List<TodoModel> todos)
    {
        Todos = todos;
    }

    [Parameter] public EventCallback<TodoModel> OnClick { get; set; }
}
